
/********************
GENERAL
********************/

body{
 font-family: 'Open Sans',sans-serif;

}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding:0 5%;
	/*background: orange;*/
}

a {
	text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;

}


/********************
HEADING
********************/

header {
	float: left;
	margin:0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	 font-family: 'Changa One', sans-serif;
 	 margin: 15px 0;
 	 font-size: 1.75em;
 	 font-weight: normal;
 	 line-height: 0.8em;
}

h2{
	font-size: 0.75em;
	margin: -5px 0 0; /*style to be closer*/
	font-weight: normal;
}


/********************
NAVIGATION
********************/
nav{
	text-align: center;
	padding: 10px 0;
    margin:20px 0 0 ;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px ;
}
  
/********************
FOOTER
********************/

footer {

font-size:0.75em;
text-align:center;
clear: both;
padding-top: 50px;
color: #ccc;	
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

/********************
PAGE:PORTFOLIO
********************/

#gallery {
	/*margin: 0;
	padding: 0;*/
	list-style: none;
	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

#gallery li {
	/*float: left;*/
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
	color: #bdc3c7;
}

#gallery li a p {
 margin: 0;
 padding: 4%;
 font-size: 0.75em;
 color: #bdc3c7;

}

#travelling {
  color: #bdc3c7;
}



/********************
PAGE:ABOUT
********************/

.profile-photo {
	display: block;
	max-width: 200px;
	margin: 0 auto 30px;
	border-radius: 100%;
}

.profile-heading {
	background: linear-gradiant(#f4a4b2, transparent 90%),
                #f4a4b2 url('img/designs.jpg') no-repeat center;
    margin: 0 auto 30px;
    background-size: cover;

}

/********************
PAGE:PORTFOLIO
********************/
.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	display:block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin:0 0 10px;
}


.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.linkedin a {
  background-image: url('../img/linkedin.png');
}

/********************
COLOR
********************/

/* site body*/
body{
	background-color: #f7f8fa;
	color: #67758a;
}

header {

/*FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#b8c4cb, endColorStr=red); IE 6 7 8 */

/*background: -ms-linear-gradient(top, #a8d3e3, #a8d3f0);         IE 10 */

/*background:-moz-linear-gradient(top,#a8d3e3,#a8d3f0);火狐 */

/*background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#a8d3e3), to(#a8d3f0));谷歌 */

/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a8d3e3), to(#a8d3f0));       Safari 4-5, Chrome 1-9*/

/*background: -webkit-linear-gradient(top, #a8d3e3, #a8d3f0);   Safari5.1 Chrome 10+*/

/*background: -o-linear-gradient(top, #a8d3e3, #a8d3f0);  Opera 11.10+*/

background-image: radial-gradient(circle at top left, #ffa949 0%, firebrick 45%, dodgerblue 100%);

border-color: #bbbbbb;

}

nav {
	background: #fff;
}

h1, h2 {
	color: #fff;
}

/* links */
a {
	color: #f4a4b2;
}

/*h1 {
	color: #ffffff;
}

h2 {
	color: #ffffff;
}*/


nav a:visited {
  color: #bbbbbb;
}

nav a.selected, nav a:hover {
  color: #f4a4b2;
  text-shadow: 0px 1px firebrick;

}

/* Large */
#gallery li{
  display: flex;
  flex-flow: row wrap;
  /* 所有列面向主轴终点位置靠齐 */
  justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px) {
 #gallery li{
    /* 当在中等屏幕中, 导航项目居中显示，并且剩余空间平均分布在列表之间 */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
 #gallery li{
    /* 在小屏幕下, 我们没有足够空间行排列，但我们可以换成列排列 */
    flex-direction: column;
  }
}	