/* =================================
  Media Queries
==================================== */


@media screen and (min-width: 480px) {

				/********************
				HEADING
				********************/

#primary {
	width:50%;
	float:left;
}

#secondary {
	width: 40%;
	float: right;
}

			/********************
				2*5 =10
				100%-10% = 90%
				90/2 = 45%
			********************/


			/********************
			PAGE: PORTFOLIO
			********************/
#gallery li {
	width: 90vw;
	/*width: 28.33333%;*/
}

#gallery li:nth-child(4n) {
    clear: left;
}


				/********************
				PAGE:ABOUT
				********************/
.profile-photo {
float: left;
margin: 0 5% 80px 0;

}



}

@media screen and (min-width: 660px) {


				/********************
				HEADER
				********************/
nav {
	background: none;
	float: right;
	font-size: 1.125em;
	text-align: right;
	width: 45%;
}

#logo {
	float: left;
	margin-left: 5%;
	text-align: left;
	width: 45%;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 0.825em;
	margin-bottom: 20px;
}

header {
	border-bottom: 5px solid #bedef4;
	margin-bottom:  60px;
}

#gallery li {
	width: 45%;
}

}


@media screen and (min-width: 769px) {
	.main-header,
	.row,
  .footer-inner{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	.tagline {
		font-size: 1.4em;
	}

  #gallery li {
    justify-content: space-around;
    width: 28.3333333%;
  }
}


/* Medium screens */
@media all and (max-width: 800px) {
  #gallery li {
    justify-content: space-around;
    /*justify-content: flex-end;*/

  }
}

/* Small screens */
@media screen and (max-width: 479px) {
 #gallery li{
    /* 在小屏幕下, 我们没有足够空间行排列，但我们可以换成列排列 */

    display: flex;
    flex-direction: column;
    /*position: relative;*/
    justify-content: flex-end;
    width: 95vw;
  }
}


/** 覆盖层 Light BOX **/
#overlay {
  background:rgba(0,0,0,0.7);
  width:100vw;
  height:100vh;
  /*position:absolute; */
  position:fixed;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay img {
 margin-top: 8%;
 height: 85vh;
}

#overlay p {
 color:white;
}
